[user]
    email = 38803749+tempxla@users.noreply.github.com
    name = tempxla
[alias]
    loga = log --decorate --graph --all --oneline
[merge]
	ff = false
[pull]
	ff = only
[init]
	defaultBranch = main
